[Unit]
Description=ProKolesa Gunicorn daemon
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/prokolesa/backend
Environment="DJANGO_SETTINGS_MODULE=prokolesa_backend.settings_production"
ExecStart=/var/www/prokolesa/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind 127.0.0.1:8001 \
          prokolesa_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target 