[Unit]
Description=ProKolesa Gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/prokolesa/backend
ExecStart=/var/www/prokolesa/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn/gunicorn.sock \
          prokolesa_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

Environment=DJANGO_SETTINGS_MODULE=prokolesa_backend.settings_production

[Install]
WantedBy=multi-user.target 